.DS_Store
.idea
*.log
*.bkkx
tmp/

*.py[cod]
*.egg
build
htmlcov
.claude
bkk.xpr
import/.pytest_cache
import/output
import/exports
import/export
module/.pytest_cache
module/output
module/exports
module/export
wip/*
